<div class="text-gray-300 terminal-message" data-timestamp="<%= Time.current.strftime("%H:%M:%S") %>">
  <span class="text-gray-500">[<%= Time.current.strftime("%H:%M:%S") %>]</span> <%= message %>
</div> 